:root {
  --primary-color: #66B224;
  --primary-hover-color: #c1d62e;
  --secondary-color: #00999e;
  --secondary-hover-color: #00bbbf;
  --alert-color: #CC0000;
  --alert-hover-color: #ff0033;
  --gray-color: #ccc;
  --gray-hover-color: #aaa;
  --white-color: #fff;
}

html,
body {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

ul {
  line-height: 1.6em;
  margin: 5px 0 0;
}

label {
  font-size: 11px;
  color: #999;
}
input,
textarea,
select {
  border-radius: 0;
  border-bottom: 1px solid #ccc !important;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
  outline-offset: 0px !important;
  outline: 0px !important;
}

.eg {
  opacity: .3;
}

.align-right {
  text-align: right;
}

.container {
  margin: auto;
  max-width: 900px;
  width: 90%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.row-m {
  margin-top: 1em;
}

.m {
  margin-top: 2em;
}
.mb {
  margin-bottom: 1em;
}

.col {
  flex: 1 0;
}

.col-p {
  flex: 0 1 25%;
  margin-left: 5%;
}

.col-title {
  flex: 1 0 80px;
}

.col-detail {
  flex: 5 0;
}

.save,
.cancel {
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  border-radius: 10px;
  padding: 4px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  transition: background-color .27s;
}
.save {
  background-color: var(--primary-color);
}
.save:hover {
  background-color: var(--primary-hover-color);
}
.cancel {
  background-color: #ccc;
  margin-left: 10px;
}
.cancel:hover {
  background-color: #eee;
}
.add,
.remove {
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  border-radius: 10px;
}
.add {
  background: var(--primary-color);
  color: white;
  padding: 4px 20px;
}
.remove {
  background: var(--alert-color);
  color: white;
  margin-left: -25px;
  position: absolute;
  padding: 0;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  display: none;
}
.content {
  background: transparent;
  border: none;
  cursor: text;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.5em;
  text-align: left;
  width: 100%;
  margin-left: -20px;
  padding-left: 20px;
}
input.content,
textarea.content {
  margin: 0 !important;
  padding: 0 !important;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #333;
  font-size: 13px;
  line-height: 1.5em;
  padding-right: 30px;
}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.content.bold,
.content .bold {
  font-weight: bold;
}

.editable-container:hover .editable-content {
  opacity: .5;
}

.editable-container:hover .editable-content:hover {
  opacity: 1;
}

.editable-container:hover .editable-content:hover .remove {
  display: flex;
}

.editable-container>.editable-content {
  transition: color .3s cubic-bezier(.3, .3, 1, 1);
}


@media print {
  body {
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 10px;
  }
  .content,
  select {
    font-size: 10px;
    line-height: 1.3em;
  }
  .add-content,
  .add,
  .eg,
  .empty,
  .remove {
    display: none;
  }
}
